.App {
  height: 100vh;
}
.empSection {
  margin: 20px;
  height: auto;
}
.addNewEmployee h3,
.employeesList h3 {
  text-align: center;
  text-decoration: underline;
  color: rgb(57, 202, 202);
  font-weight: bold;
}
.addNewEmployee .submit-btn {
  text-align: center;
}
.table td,
.table th {
  word-break: break-word;
}
.edit-btn {
  margin-right: 10px;
}
.empCompleteDetails {
  height: 75vh;
}
.form-error-msg {
  font-weight: 500;
  margin-left: 10px;
}
